img {
  filter: drop-shadow(2px 2px 2px #000000);
}

.card {
  animation: grow-shrink 1s ease-in-out;
  box-shadow: none;
  background: linear-gradient(
    to right,
    #43b4ff,
    #00568f
  ); /* blue-ish gradient */
}

.card:hover {
  filter: drop-shadow(5px 5px 5px #5f5f5f);
}

.card-body {
  position: relative;
}

.card-header {
  position: relative;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  filter: drop-shadow(5px 5px 5px #5f5f5f);
}
.close-button:hover {
  background-color: #ff6699;
}

.temperature-celsius {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 3rem;
  filter: drop-shadow(2px 2px 2px #858585);
}

.temperature-fahrenheit {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  font-size: 1.5rem;
  filter: drop-shadow(2px 2px 2px #858585);
}

@keyframes grow-shrink {
  0% {
    transform: scale(0.001);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
